body {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  font-family: sans-serif;
}

:root {
  --clockSize: 30rem;
  --bgColor: #111;
  --mainColor: #000000;
  --loadingSize: 60;
  --dashArray: 875;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.clock-container {
  background: transparent;
  margin: 0;
  padding: 0;
  width: var(--clockSize);
  height: var(--clockSize);
}

.clock-shape {
  fill: transparent;
  stroke-width: calc(var(--clockSize) * 0.05);
  stroke: #ffffff;
  stroke-dasharray: var(--dashArray);
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transition: 1s;
}

.main-circle {
  stroke: var(--mainColor);
  stroke-dashoffset: calc(
    var(--dashArray) - (var(--dashArray) * (var(--loadingSize) / 60))
  );
}

@keyframes secAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.digital-time {
  width: var(--clockSize);
  margin: 70px 0 50px 0;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.action-buttons {
  width: var(--clockSize);
  justify-content: space-around;
}

.timer-btn {
  padding: 10px 20px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  html {
    font-size: 40.5%;
  }

  :root {
    --dashArray: 565;
  }
}
